@font-face{
    font-family: abel;
    src: url(../fonts/Abel/Abel-Regular.ttf);}
@font-face{
    font-family: anton;
    src: url(../fonts/Anton/Anton-Regular.ttf);}
@font-face{
    font-family: arvo;
    src: url(../fonts/Arvo/Arvo-Regular.ttf);
}
